/allure-commandline-2.13.9.jar
/allure-generator-2.13.9.jar
/allure-model-2.13.0.jar
/allure-plugin-api-2.13.9.jar
/allure1-model-1.0.jar
/commons-beanutils-1.9.3.jar
/commons-codec-1.11.jar
/commons-collections-3.2.2.jar
/commons-collections4-4.2.jar
/commons-io-2.6.jar
/commons-lang3-3.9.jar
/commons-logging-1.2.jar
/commons-text-1.3.jar
/flexmark-0.50.36.jar
/flexmark-util-0.50.36.jar
/freemarker-2.3.29.jar
/httpclient-4.5.9.jar
/httpcore-4.4.11.jar
/jackson-annotations-2.9.0.jar
/jackson-core-2.9.8.jar
/jackson-databind-2.9.8.jar
/jackson-dataformat-xml-2.9.8.jar
/jackson-dataformat-yaml-2.9.8.jar
/jackson-module-jaxb-annotations-2.9.8.jar
/javax.activation-api-1.2.0.jar
/javax.servlet-api-3.1.0.jar
/jaxb-api-2.3.1.jar
/jaxb-utils-1.0.jar
/jcommander-1.78.jar
/jetty-http-9.4.20.v20190813.jar
/jetty-io-9.4.20.v20190813.jar
/jetty-server-9.4.20.v20190813.jar
/jetty-util-9.4.20.v20190813.jar
/log4j-1.2.17.jar
/opencsv-4.6.jar
/properties-2.0.RC5.jar
/slf4j-api-1.7.28.jar
/slf4j-log4j12-1.7.28.jar
/snakeyaml-1.23.jar
/stax2-api-3.1.4.jar
/tika-core-1.22.jar
/woodstox-core-5.0.3.jar
